<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="front/layout">
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<div layout:fragment="body">
	<h1>Hello</h1>
	<form action="#" th:action="@{/login}">
		<input type="submit" value="Sign in" />
	</form>
	<br>
	<form action="#" th:action="@{/j_spring_security_logout}" method="post">
		<input type="submit" value="Sign out" sec:authorize="isAuthenticated()" />
	</form>
	<br>
	<form action="#" th:action="@{/register}" method="post">
		<input type="submit" value="Register" />
	</form>
	
</div>
</html>