<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="front/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Register</title>
</head>

<div layout:fragment="body">
	<div class="login-box">
		<div class="login-logo"></div>
		<!-- /.login-logo -->
		<div class="login-box-body">
			<div th:if="${msg != null}" class="alert alert-dismissible "
				th:class="${css == 'error' ? 'alert-error' : 'alert-success'} + ' alert text-center'"
				role="alert">
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<strong><span th:text="${msg}"></span></strong>
			</div>
			<p class="login-box-msg">Sign Up</p>
			<form th:action="@{/registerProcess}" th:object="${userForm}"
				method="post">
				<div th:if="${msg != null}" class="alert alert-dismissible "
					th:class="${css == 'error' ? 'alert-error' : 'alert-success'} + ' alert text-center'"
					role="alert">
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<strong><span th:text="${msg}"></span></strong>
				</div>

				<div class="wrap-input100 validate-input"
					data-validate="Valid name  is required">
					<input class="input100" type="text" name="name" th:field="*{name}"
						placeholder="Name"> <span class="focus-input100"></span> <span
						class="symbol-input100"> <i class="fa fa-user"
						aria-hidden="true"></i>
					</span>
					<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" ></div>	 
				</div>

				<div class="wrap-input100 validate-input"
					data-validate="Valid email is required">
					<input class="input100" type="text" name="email"
						th:field="*{email}" placeholder="Email"> <span
						class="focus-input100"></span> <span class="symbol-input100">
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</span>
					<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></div>	 
				</div>

				<div class="wrap-input100 validate-input"
					data-validate="Valid password is required">
					<input class="input100" type="password" name="password"
						id="password" th:field="*{password}" placeholder="Password">
					<span class="focus-input100"></span> <span class="symbol-input100">
						<i class="fa fa-key" aria-hidden="true"></i>
					</span>
					<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" ></div>
				</div>

				<div class="wrap-input100 validate-input"
					data-validate="Valid password is required">
					<input class="input100" type="password" id="confirm_password"
						name="confirm_password" placeholder="Confirm Password"> <span
						class="focus-input100"></span> <span class="symbol-input100">
						<i class="fa fa-key" aria-hidden="true"></i>
					</span>
					
				</div>
				<span style="float: right" id='message'></span>

				<div class="form-group">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<input type="submit" name="login-submit" id="login-submit"
								class="form-control btn btn-info" value="Sign up">
						</div>
					</div>
				</div>

			</form>
			<p>
				<a href="/" th:href="@{/}">Back to home page</a>
			</p>

		</div>
	</div>
</div>
</html>