<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="admin/layout">

<link rel="stylesheet" th:href="@{/assets/admin/css/style.css}">
<div layout:fragment="body">
	<h1 th:text="${success}"></h1>
	<h1 th:text="${error}"></h1>
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<!-- row -->
					<div class="row">
						<div class="container" id="main-content">

							<div class="col-md-8 no-padding">
								<form class="form-inline">
									<input class="form-control mr-sm-2" type="search"
										placeholder="Search by name ..." />
									<button class="btn btn-primary" type="submit">
										<i class="fa fa-search"></i> Search
									</button>
								</form>
							</div>
							<th:block th:if="${#lists.isEmpty(users)}">
								<h5>This user does not exist</h5>
							</th:block>
							<th:block th:unless="${#lists.isEmpty(users)}">
								<div class="col-md-12 user-table">
									<div class="table-responsive" style="margin-right: 121px">
										<h5>List of users</h5>
										<table class="table table-bordered table-hover">
											<thead>
												<tr>
													<th>#</th>
													<th>Name</th>
													<th>Email</th>
													<th>Date Of Birth</th>
													<th>Sex</th>
													<th>Profile</th>
													<th>Delete</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="user,iterStat : ${users}">
													<th scope="row" th:text="${iterStat.count}"></th>
													<td th:text="${user.name}"></td>
													<td th:text="${user.email}"></td>
													<td th:text="${user.dob}"></td>
													<td th:text="${user.getSexAttr()}"></td>

													<td><a th:href="@{${user.id}}" title="User Profile"
														class="btn btn-primary">Show</a></td>

													<td><a th:href="@{${user.id}+'/delete'}"
														class="btn btn-danger"
														onclick="return confirm('Are you sure you want to delete?');">Delete</a></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</th:block>
						</div>
					</div>
					<!-- /row x`-->
				</div>
			</div>
		</div>
	</div>
</div>
</html>